body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    left: 0px;
    background: #000000;
    color: #FFFFFF;
}

.container-vente-produit {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#produit {
    border: solid 2px gray;
}

#produit img {
    border: solid 2px black;
    margin-bottom: 20px;
}

.search-container {
    max-width: 600px;
    margin-left: 350px;
}

input[type="text"] {
    display: block;
    width: calc(100% - 24px); 
    padding: 10px;
}

input[type=submit] {
    border: none;
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;
}

.noMatch {
    text-align: center;
}
.noMatch h3 {
    color: red;
}


