<meta charset="UTF-8">
<title>LPRO-E-COM</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="http://127.0.0.1:3000/stylesheets/style.css">